[flake8]
max-line-length = 100
extend-ignore = E203, W503, E501, E221, E127, E128, E201, E261
exclude =
    .git,
    __pycache__,
    .eggs,
    dist,
    build,
    .venv
per-file-ignores =
    tests/*: E501
